body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 350px;
    height: 500px;
}

#not-crunchy, #crunchy {
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #f2f2f2;
}

h1 {
    margin-bottom: 20px;
}

/* button {
    padding: 10px 20px;
    font-size: 16px;
} */

/** Informations des épisodes **/

#episode-info {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #ededed;
}
#anime-name {
    display: flex;
    font-size: 20px;
    color: #f47521;
    justify-content: center;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.anime-title-date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px;
}


#anime-episode-number {
    /* margin: 5px 0; */
}

.anime-title-date {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#anime-episode-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#episode-thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#anime-episode-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#anime-episode-link {
    margin-top: 5px;
}

#anime-episode-date:nth-child(0) {
    padding-right: 5px;
}

#episode-link-button-container {
    display: flex;
    justify-content: center;
}

.episode-thumbnail {
    border: 3px solid black;
    border-radius: 5px;
    min-width: 25vw;
    min-height: 12vh;
    max-width: 33vw;
    max-height: 15vh;
}

/** FIN informations des épisodes **/



#banner {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.button-main {
    width: 100vw;
    height: 10vh;
    background-color: #fe9800;
    text-decoration: none;
    border: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: -3px;
    font-size: 6vw;
}

.button-main:hover {
    background-color: #f5b800;
    color: #fff;
}

.button-main:active {
    opacity: 0.9;
    background-color: #ff8800;
    transform: scale(0.98);
}

.anime-picture {
    display: flex;
    margin: 0 auto;
    width: 80vw;
    height: 50vw;
}


.button-link {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #e28f13;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-link:hover {
    background-color: #ffc30f;
    color: #fff;
}

.button-link>:nth-child(1) {
    margin-left:5px;
}

#anime-episode-title-link-container {
    margin: 0 15px;
}

.button-link>:nth-child(2) {
    margin-top:-2px;
    text-indent: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear 0s;
}

.button-link:hover>:nth-child(2) {
    transform: translate(5px, 0px);
    transition: 0.2s linear 0s;
}